.logo {
  width: 150px;
  height: auto;
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  margin: 0;
  z-index: 1000;
}

.linea {
  display: none;
}

.menu {
  position: fixed;
  top: 4rem;
  right: 0;
  background-color: white;
  width: 100%;
  flex-direction: column;
  display: none;
  text-align: center;
  padding: 1rem 0;
  gap: 1rem;
}

.menu a {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

.menu-icon span {
  width: 30px;
  height: 4px;
  background-color: orange;
  margin: 5px 0;
}

#menu-toggle:checked + .menu-icon + .logo + .linea + .menu {
  display: flex;
}

.subtitulo {
  width: fit-content;
  font-size: smaller;
  background-color: orangered;
  color: white;
  text-transform: uppercase;
}

.fecha {
  text-align: right;
  text-transform: uppercase;
  color: grey;
}

.cuerpo-nota {
  margin-top: 6rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  overflow: auto;
  max-width: 900px;
  width: 100%;
}

.titulo-nota {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bold;
}

.parrafo-nota {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  width:90%;
  height:auto;
  text-align: justify;
}

.parrafo-nota a {
  color: orange;
}

.logo-tabla {
  width: 40px;
  height: auto;
}

.conteo {
  color: orange;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 768px) {
  .menu {
    position: fixed;
    top: 5rem;
    right: 2rem;
    display: flex !important;
    flex-direction: row;
    gap: 1cm;
    text-transform: uppercase;
    font-size: 1rem;
    align-items: center;
    color: rgb(255, 72, 0);
    background-color: white;
  }
  .logo {
    width: 15rem;     
    height: 7.5rem;   
    height: auto;
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    margin: 0;
    z-index: 1000;
  }

  .menu-icon {
    display: none;
  }

  .linea {
    display: block;
    position: fixed;
    top: 3.75rem;
    left: 16rem;
    height: 2px;
    width: calc(100% - 210px);
    background-color: orange;
  }

  .titulo-nota {
    font-size: 3rem;
  }
}